.ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.li{
    border: 1px solid #999;
    font-weight: bold;
    width: 11rem;
    height: 1.5em;
    text-align: center;
    padding: 0.3rem;
    margin: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 1rem;
    background-color: rgba(104, 104, 104, 0.786);
    color: #eee;
}
.li:hover{
    transform: scale(1.1);
}