.itemwrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.img{
    width: 20rem;
    border-radius: 1rem;
}
.title{
    margin-bottom: 0;
    margin-top: 0;
}
.des{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.alcholWrap{
    margin-bottom: 1rem;
}
.h4{
    padding: 0.4rem;
    border:1.5px solid #999;
    display: inline-block;
    border-radius: 2rem;
}
.p{
    margin: 0;
}
.ul{
    list-style: none;
}
.li{
margin-bottom: 0.3rem;
}
.li::before{
    content: "🐹";
    margin-right: 1rem;
}
.span{
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 0.5rem;
}
.desp{
    width: 30rem;
    text-align: center;
}
.ylike{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
    color: rgb(230, 173, 4);
}
.like{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
    color: rgb(168, 168, 168);
    
}
.titleWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}