.div{
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
.Ndiv{
        height: 100%;
        position: relative;
        background-color: rgba(0, 0, 0, 0.83);
        color: white;
        margin: 0;
        padding: 0;
}
.icon{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    background-color: rgb(16, 37, 86);
    padding: 1rem;
    border-radius: 50%;
    font-size: 1.2rem;
    color: rgb(255, 213, 0);
}
.icon:hover{
    transform: scale(1.1);
}