.listWrap{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    background-image: url('/Users/yunjiyeon/cocktail/public/image/bg00-removebg-preview.png');
}
.ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
}
